<div class="main">
    <div class="header">
        <img alt="" height="80"
             th:if="${not #strings.isEmpty(theme.config.info_card.web_info_img)} or ${not #strings.isEmpty(site.logo)}"
             th:src="${theme.config.info_card.web_info_img ?: site.logo}" width="80"/>
        <div class="site-description">
            <h2><span th:text="${theme.config.info_card.web_info_text}"></span></h2>
            <nav class="nav social">
                <ul class="flat">
                    <a target="_blank"
                       th:href="${theme.config.info_card.web_info_bili}"
                       th:if="${not #strings.isEmpty(theme.config.info_card.web_info_bili)}"
                       title="哔哩哔哩">
                        <i class="ri-bilibili-fill"></i>
                    </a>
                    <a target="_blank"
                       th:href="${theme.config.info_card.web_info_zhihu}"
                       th:if="${not #strings.isEmpty(theme.config.info_card.web_info_zhihu)}"
                       title="知乎">
                        <i class="ri-zhihu-line"></i>
                    </a>
                    <a target="_blank"
                       th:href="${theme.config.info_card.web_info_github}"
                       th:if="${not #strings.isEmpty(theme.config.info_card.web_info_github)}"
                       title="GitHub">
                        <i class="ri-github-line"></i>
                    </a>
                    <a th:if="${pluginFinder.available('PluginFeed')}">
                        <a href="/rss.xml" target="_blank" title="RSS">
                        <i class="ri-rss-fill"></i>
                    </a>
                </a>
                </ul>
            </nav>
        </div>
        <nav class="nav"
             th:with="menu = ${menuFinder.getPrimary()}">
            <ul class="flat"
                th:with="menuItems = ${menu.menuItems}">
                <li class="active"
                    th:each="menuItem : ${menuItems}">
                    <a th:href="@{${menuItem.status.href}}"
                       th:target="${menuItem.spec.target?.value}"
                       th:text="${menuItem.status.displayName}">
                    </a>
                </li>
                <li class="active ico-right"
                    th:if="${pluginFinder.available('PluginSearchWidget')}">
                    <a class="test" href="javascript:SearchWidget.open()"
                       itle="搜索">
                        <i class="ri-search-line"></i
                    ></a>
                </li>
            </ul>
        </nav>
    </div>