<!DOCTYPE html>
<html th:replace="~{modules/layout :: html(title = '归档 - ' + ${site.title}, hero = null, content = ~{::content}, head = null, footer = null,)}"
      xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="content">
    <div class="archives-content uk-animation-fade" itemprop="articleBody">
        <article><h2>归档：</h2>
            <p th:text="|共有 ${archives.total} 篇文章|"></p>
            <th:block th:each="archive : ${archives.items}"><h2 class="archives-year-title" th:text="${archive.year}"></h2>
                <div class="archives-item-content">
                    <th:block th:each="month : ${archive.months}">
                        <h3 class="diy-h3-month" th:text="|${month.month}月|"></h3>
                        <li th:each="post : ${month.posts}">
                            <span class="articles_date_time"
                                  th:text="|${month.month}/${#dates.format(post.spec.publishTime,'dd')}|">
                            </span>
                            <a class="a-archives"
                               th:href="@{${post.status.permalink}}"
                               th:text="${post.spec.title}">
                            </a>
                        </li>
                    </th:block>
                </div>
            </th:block>
        </article>
        <ul class="index-pagination" th:if="${archives.hasPrevious() || archives.hasNext()}">
            <li class="page-item page-previous"
                th:if="${archives.hasPrevious()}">
                <a th:href="@{${archives.prevUrl}}">
                    <span>上一页</span>
                </a>
            </li>
            <li class="page-item page-previous"
                th:if="${archives.hasNext() }">
                <a th:href="@{${archives.nextUrl}}">
                    <span>下一页</span>
                </a>
            </li>
        </ul>
    </div>
</th:block>
</html>
