<!DOCTYPE html>
<html th:replace="~{modules/layout :: html(title = '分类 - ' + ${site.title}, hero = null, content = ~{::content}, head = null, footer = null,)}"
      xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="content">
    <div class="post-content uk-animation-fade" itemprop="articleBody">
        <article>
            <h2>分类：</h2>
            <ul th:fragment="next (categories)">
                <li class="category"
                    th:each="category : ${categories}"
                    th:fragment="single (categories)">
                    <a th:href="@{${category.status.permalink}}">
                        <span th:text="|${category.spec.displayName}(${category.status.postCount != null ? category.status.postCount : 0})|"></span>
                    </a>
                </li>
            </ul>
        </article>
    </div>
</th:block>
</html>
