<!DOCTYPE html>
<html th:replace="~{modules/layout :: html(title = ${site.title}, content = ~{::content},hero = null,head = null, footer = null,)}"
      xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="content">
    <div class="recent-posts section uk-animation-fade">
        <article>
            <h2 class="section-header">
                随笔
                <i class="ri-quill-pen-line"></i>
            </h2>
            <div class="posts"
                 th:each="post : ${posts.items}">
                <div class="post-cover"
                     th:if="${theme.config.layout.post_cover_set == 'open' and !#strings.isEmpty(post.spec.cover)}">
                    <img class="lazyload"
                         scr="" sizes="(max-width: 1600px) 100vw, 1600px"
                         srcset=""
                         th:data-srcset="|${thumbnail.gen(post.spec.cover, 's')} 400w|">
                </div>
                <div class="post">
                    <div class="time"
                         th:text="${#dates.format(post.spec.publishTime,'MMMM dd, yyyy')}">
                    </div>
                    <a th:href="@{${post.status.permalink}}">
                        <span class="post-top"
                              th:if="${post.spec.pinned}"
                              th:text="[置顶]">
                        </span>
                        <span th:text="${post.spec.title}"></span>
                    </a>
                </div>
            </div>
            <ul class="index-pagination"
                th:if="${posts.hasPrevious() || posts.hasNext()}">
                <li class="page-item page-previous" th:if="${posts.hasNext() }">
                    <a th:href="@{${posts.nextUrl}}">
                        <span>下一页</span>
                    </a>
                </li>
                <li class="page-item page-previous" th:if="${posts.hasPrevious() }">
                    <a th:href="@{${posts.prevUrl}}">
                        <span>上一页</span>
                    </a>
                </li>
            </ul>
        </article>
    </div>
</th:block>
</html>
